In [1]:
import pandas as pd
import requests

df_juegos = pd.read_csv("D:/s4nti/Documents/OCTAVO SEMESTRE/PROYECTO INTEGRADOR DE TECNOLOGÍAS DE BIG DATA/PROYECTO/proyecto-big-data/data/respuestasA (2400-158113).csv")

df_juegos.head()

,ID del jugador,ID del juego,Nombre del juego,Minutos jugadas,Datos_obtenidos
0,76561198276551837,461640,Sins Of The Demon RPG,1,2400
1,76561198276551837,730,Counter-Strike 2,23,2400
2,76561198276551837,578080,PUBG: BATTLEGROUNDS,6,2400
3,76561198276551837,570,Dota 2,144250,2400
4,76561198162346285,42690,Call of Duty®: Modern Warfare® 3 (2011) - Mult...,174,2400

In [8]:
# Asegúrate de que 'ID del juego' esté en formato string
df_juegos['ID del juego'] = df_juegos['ID del juego'].astype(str)

# Agrupa por 'ID del juego' y calcula la cantidad de usuarios por juego
df_grouped = df_juegos.groupby('ID del juego').size().reset_index(name='cantidad_usuarios')

df_grouped.to_csv(f"D:/s4nti/Documents/OCTAVO SEMESTRE/PROYECTO INTEGRADOR DE TECNOLOGÍAS DE BIG DATA/PROYECTO/proyecto-big-data/data/gamesId.csv", index=False)